doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Calculator-UI
    body
        div.container
            .container__screen
                each val in [5, 4, 3, 2, 1]
                    h4(class='container__screen--result'+val)= 0
                h1.container__screen--total = 0
            table.container_keyboard
                mixin row(array, classRow ="container_keyboard--row",classTableData="container_keyboard--td",classButton="container_keyboard--button")
                    tr(class=classRow)
                        each value in array 
                            if value == '='
                                td(class= classTableData, rowspan="2" id="equals__td")
                                    button(class=classButton id="equals")= value
                            else
                                if value == '/'
                                     td.container_keyboard--td
                                        button(class=classButton id="split")= value
                                else if value == '-'
                                    td.container_keyboard--td
                                        button(class=classButton id="subtraction")= value
                                else if value == '+'
                                    td.container_keyboard--td
                                        button(class=classButton id="sum")= value
                                else if value == '%'
                                    td.container_keyboard--td
                                        button(class=classButton id="percent")= value
                                else if value == '.'
                                    td.container_keyboard--td
                                        button(class=classButton id="dot")= value
                                else
                                    td.container_keyboard--td
                                        button(class=classButton id=value)= value
                +row(['C', 'D', '/','X'])
                +row(['7', '8', '9','-'])
                +row(['4', '5', '6','+'])
                +row(['1','2','3','='])
                +row(['%', '0', '.'])